# tailwind output
src/styles/output.css

# build output
.astro
.wrangler
dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables and local Wrangler secrets
.env
.env.*
.dev.vars
.dev.vars.*

# macOS-specific files
.DS_Store
