---
import Root from "@/layouts/root.astro";
import { isProduction } from "@/utils";

const title = "404";
const description = "Page not found";
---

<Root title={title} description={description}>
  <main class="flex min-h-full flex-1 items-center justify-center">
    <div class="flex flex-col gap-2 text-center">
      <h1 class="text-6xl font-bold">
        {title}
      </h1>

      <p class="p-summary">
        {description}
      </p>
    </div>
  </main>
</Root>

<script is:inline define:vars={{ PROD: isProduction(Astro.url) }}>
  PROD &&
    document.addEventListener("DOMContentLoaded", function () {
      plausible("404", { props: { path: document.location.pathname } });
    });
</script>
